// **** RESET **** //
// =============== //
*, *::after, *::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-size: 62.5%;
    background: $color-light-green;
}

.margin-body{
    max-width: 1900px;
    margin: 0 auto;
    padding: 0 100px;
}
.container-section{
    width: 100vw;
    background: $color-white;
}
