// **** BUTTONS **** //
// ================= //

button, input[type="submit"] {
    background: $color-linear;
    padding: 13px 20px;
    border: none;
    width: fit-content;
    cursor: pointer;
    color: $color-white;
    border-radius: 999px;
    @extend %font-NeuzeitGrotesk-bold;
    font-size: 13px;
    &:hover{
        background: $color-linear-invert;
    }
    a{
        font-size: 13px;
        color: $color-white;
        @extend %font-NeuzeitGrotesk-bold;
    }
}