// **** MIXINS **** //
// ================ //

@mixin absolute ($top, $right, $bottom, $left, $x, $y) {
    position: absolute;
    top: $top;
    right: $right;
    bottom: $bottom;
    left: $left;
    transform: translate($x, $y);
};

@mixin size($width, $height) {
    width: $width;
    height: $height;
};

@mixin respoXS {
    @media screen and (max-width: 400px){
        @content
    }
};

@mixin respoM {
    @media screen and (max-width: 800px){
        @content
    }
};

@mixin respoXL {
    @media screen and (max-width: 1200px){
        @content
    }
};


// How to use:
// @include size(100%, 100%)