// **** VARIABLES **** //
// =================== //

// * COLORS *
$color-black: #0B0F0C;
$color-grey: #484849;
$color-white: #fff;
$color-light-green: #F0F4F0;
$color-green: #68D880;
$color-linear: linear-gradient(90deg, #288E93, #60CF82);
$color-linear-invert: linear-gradient(90deg, #60CF82, #288E93);

// * FONTS *
// ? Declare in _placeholders.scss ?

// * TRANSITIONS *
$transition: .3s;
