
.container-footer{
    width: 100vw;
    background: $color-grey;
}
footer{
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 100px 50px !important;
    .text{
        color: white;
        span{
            font-weight: bold;
        }
    }
    .footer-left{
        .footer-nav{
            margin: 100px 0;
            ul{
                display: flex;
                li:not(:first-child){
                    padding: 0 10px;
                }
            }
        }
    }
    .footer-right{
        @media screen and (max-width : 1000px) {
            width: 100%;
        }
        display: flex;
        justify-content: flex-end;
        .footer-nav-social-media{
            ul{
                display: flex;
                li:not(:last-child){
                    padding-right: 50px;
                }
            }
        }
    }
    .container-copyright{
        position: absolute;
        right: 10px;
        bottom: 10px;
    }
}
