h3, h2, h1 {
  font-family: "Neuzeit Grotesk", sans-serif;
  font-weight: 900;
}

header nav .connexion button a, button, .subtitle, h4 {
  font-family: "Neuzeit Grotesk", sans-serif;
  font-weight: 700;
}

a, .link {
  font-family: "Neuzeit Grotesk", sans-serif;
  font-weight: 400;
}

.legend, .text {
  font-family: "Neuzeit Grotesk", sans-serif;
  font-weight: 200;
}

@keyframes function {}
*, *::after, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 62.5%;
  background: #F0F4F0;
}

.margin-body {
  max-width: 1900px;
  margin: 0 auto;
  padding: 0 100px;
}

.container-section {
  width: 100vw;
  background: #fff;
}

h1 {
  font-size: 6.4em;
  color: #0B0F0C;
}

h2 {
  font-size: 6.4em;
  color: #0B0F0C;
}

h3 {
  font-size: 4.6em;
  color: #484849;
}

h4 {
  font-size: 2.8em;
  color: #0B0F0C;
}

.text {
  font-size: 2.2em;
  color: #0B0F0C;
}

.legend {
  font-size: 2.2em;
  color: #484849;
}

.subtitle {
  font-size: 2.8em;
}

a, .link {
  font-size: 2em;
  text-decoration: none;
  color: #0B0F0C;
  cursor: pointer;
}
a:hover, .link:hover {
  font-weight: 700;
}

li {
  list-style-type: none;
}

button {
  background: linear-gradient(90deg, #288E93, #60CF82);
  padding: 13px 20px;
  border: none;
  width: fit-content;
  cursor: pointer;
  color: #fff;
  border-radius: 999px;
}
button:hover {
  background: linear-gradient(90deg, #60CF82, #288E93);
}

.sections-blog {
  display: none;
}

.visible {
  display: block;
}

.container-description {
  background: #fff;
  width: 100vw;
  padding: 170px 0 250px 0;
}

.container-articles {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}

.container-articles_tutos {
  margin-top: -80px;
}

.container-articles-blog {
  margin: 200px auto;
}

.card-articles-tutos {
  margin: 0 10px;
  flex-shrink: 0;
  width: 300px;
  height: fit-content;
}
.card-articles-tutos img {
  width: 100%;
  height: 300px;
  object-fit: cover;
}
.card-articles-tutos h4, .card-articles-tutos button {
  margin: 20px 0;
}

.card-articles-blog {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
  margin: 100px 0;
}
@media screen and (max-width: 1000px) {
  .card-articles-blog {
    display: flex;
    flex-direction: column;
  }
}
.card-articles-blog img {
  grid-column: 2/3;
  grid-row: 1/2;
  width: 100%;
  height: fit-content;
  object-fit: cover;
}
.card-articles-blog .description-articles-blog {
  grid-column: 1/2;
  grid-row: 1/2;
}
.card-articles-blog .description-articles-blog h4 {
  margin: 50px 0 20px 0;
}
.card-articles-blog:nth-child(even) img {
  grid-column: 1/2;
}
.card-articles-blog:nth-child(even) .description-articles-blog {
  grid-column: 2/3;
}

.container-articles-projets-blog, .container-articles-actu-blog {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 60px;
  background: #F0F4F0;
}
@media screen and (max-width: 800px) {
  .container-articles-projets-blog, .container-articles-actu-blog {
    grid-template-columns: 1fr;
    grid-gap: 0;
  }
}

.container-articles-projets-blog_top, .container-articles-actu-blog {
  padding-bottom: 200px;
}
.container-articles-projets-blog_top .card-articles-projets-blog, .container-articles-projets-blog_top .card-articles-actu-blog:nth-child(1), .container-articles-projets-blog_top .card-articles-actu-blog:nth-child(2), .container-articles-actu-blog .card-articles-projets-blog, .container-articles-actu-blog .card-articles-actu-blog:nth-child(1), .container-articles-actu-blog .card-articles-actu-blog:nth-child(2) {
  margin-top: -100px;
}
@media screen and (max-width: 800px) {
  .container-articles-projets-blog_top .card-articles-actu-blog:nth-child(2), .container-articles-actu-blog .card-articles-actu-blog:nth-child(2) {
    margin-top: 0px;
  }
  .container-articles-projets-blog_top .card-articles-projets-blog:nth-child(1), .container-articles-actu-blog .card-articles-projets-blog:nth-child(1) {
    margin-bottom: 300px;
  }
}

.container-articles-projets-blog_bottom {
  margin: 200px auto 300px auto;
}

.container-slider-projets-blog {
  margin: 200px 0 300px;
  display: flex;
  grid-gap: 10px;
  overflow: scroll;
  padding: 0 10px;
}

.video-presdentation-blog {
  background: #fff;
  padding: 100px 0;
}

.main-article-actu-blog {
  width: 100%;
}
.main-article-actu-blog img {
  width: 100%;
  height: 500px;
  object-fit: cover;
  margin-bottom: 60px;
}
.main-article-actu-blog h3, .main-article-actu-blog .legend, .main-article-actu-blog .text, .main-article-actu-blog button {
  margin: 20px 0;
}

.card-articles-projets-blog {
  width: 100%;
  position: relative;
}
.card-articles-projets-blog img {
  object-fit: cover;
  width: 100%;
  height: 500px;
}
.card-articles-projets-blog .description-card-projets-blog {
  padding: 30px;
  width: 80%;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #fff;
  border-radius: 16px;
}
.card-articles-projets-blog .description-card-projets-blog p {
  margin: 30px 0;
}

.card-slider-projets-blog {
  flex-shrink: 0;
  width: 300px;
}
.card-slider-projets-blog img {
  width: 100%;
  height: 300px;
  object-fit: cover;
}

.card-video-presentation-blog {
  display: block;
  margin: 0 auto;
  width: clamp(300px, 80%, 1000px);
}
.card-video-presentation-blog h3 {
  margin-top: 10px;
}
.card-video-presentation-blog video {
  width: 100%;
}

.card-articles-actu-blog {
  margin-bottom: 20px;
  width: 100%;
  background: #fff;
  border-radius: 16px;
  overflow: hidden;
}
.card-articles-actu-blog img {
  width: 100%;
  height: 300px;
  object-fit: cover;
}
.card-articles-actu-blog h4, .card-articles-actu-blog button {
  margin: 20px;
}
.card-articles-actu-blog .text {
  margin: 0 20px;
}

.section-home-news {
  padding: 200px 100px;
}
.section-home-news h2 {
  padding-bottom: 50px;
}
.section-home-news button {
  display: block;
  margin: 50px auto;
}

.section-materiel-informatique-home {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: #fff;
  padding: 200px 100px;
}
.section-materiel-informatique-home img {
  width: 80%;
  margin: 20px 0;
}
.section-materiel-informatique-home .slider-img {
  width: 80%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
}
.section-materiel-informatique-home .slider-img img {
  width: 100%;
}

.section-materiel-impression-home {
  padding-top: 200px;
}
.section-materiel-impression-home h2 {
  padding-bottom: 50px;
}
.section-materiel-impression-home .container-article-materiel-impression {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.section-materiel-impression-home .container-article-materiel-impression img {
  width: 100%;
}
.section-materiel-impression-home .container-article-materiel-impression div {
  padding: 0 10%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.section-materiel-impression-home .container-article-materiel-impression div p {
  margin: 20px 0;
}

header {
  width: 100vw;
  background: #fff;
}
header nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 110px;
}
header nav ul {
  display: flex;
  justify-content: center;
  flex-direction: raw;
}
header nav ul li {
  margin: 0 15px;
}
header nav .connexion button a {
  font-size: 1.3rem;
  color: #fff;
}

.hero-home {
  width: 100%;
  height: calc(100vh - 110px);
  display: flex;
  align-items: center;
  position: relative;
}
.hero-home .card-hero-home {
  background: #fff;
  border-radius: 16px;
  width: 70%;
  margin-left: 10%;
  padding: 80px 50px;
  position: relative;
}
.hero-home .card-hero-home .text {
  margin: 30px 0;
  width: 80%;
}
.hero-home .card-hero-home .background-shape {
  background: red;
  width: 60%;
  height: 200px;
  display: inline;
}
.hero-home .background-hero-home {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.hero-home .background-hero-home .background-hero-green {
  position: absolute;
  top: 0;
  left: 0;
  background: #68D880;
  width: 30%;
  height: 100%;
  z-index: -1;
}
.hero-home .background-hero-home img {
  top: 0;
  right: 0;
  position: absolute;
  width: 70%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}
.hero-home .background-hero-home .img-parrallax {
  z-index: 1;
}

.hero {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../../../images/blog/bg-hero.jpeg");
  background-size: auto, cover;
  background-position: center;
  width: 100%;
  height: calc(70vh - 110px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  padding-left: 10%;
  position: relative;
  overflow: hidden;
}
.hero h1 {
  color: #fff;
}
.hero .subtitle {
  color: #fff;
}

.nav {
  height: 280px;
  background: #F0F4F0;
  display: flex;
  align-items: center;
}
.nav ul {
  display: flex;
}
.nav ul li {
  margin-right: 20px;
}

.container-footer {
  width: 100vw;
  background: #484849;
}

footer {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 100px 50px !important;
}
footer .text {
  color: white;
}
footer .text span {
  font-weight: bold;
}
footer .footer-left .footer-nav {
  margin: 100px 0;
}
footer .footer-left .footer-nav ul {
  display: flex;
}
footer .footer-left .footer-nav ul li:not(:first-child) {
  padding: 0 10px;
}
footer .footer-right {
  display: flex;
  justify-content: flex-end;
}
@media screen and (max-width: 1000px) {
  footer .footer-right {
    width: 100%;
  }
}
footer .footer-right .footer-nav-social-media ul {
  display: flex;
}
footer .footer-right .footer-nav-social-media ul li:not(:last-child) {
  padding: 0 40px;
}

/*# sourceMappingURL=main.css.map */
